<div class="parent-card-holder">
<div class="card" style="width: 18rem;"  *ngFor="let stock of stocks">
  <img class="card-img-top" src={{stock.ImageUrl}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{stock.ItemName}}</h5>
    <p class="card-text">{{stock.Price                }}</p>
    <button class="btn btn-outline-success" routerLink="Details" routerLinkActive="active"
     (click)="getdetails(stock.Id)">Buy</button>
    <button class="btn btn-outline-success" mat-raised-button (click)="incrementCount()">+</button>
    <button class="btn btn-outline-success" mat-raised-button (click)="decreaseCount()">-</button>
    <button class="btn btn-outline-success" mat-raised-button (click)="resetCount()">reset</button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{stock.Caption}}</li>
  </ul>
</div>
  