


  <div class="login-wrap" >
    <div class="login-html" *ngIf="!isDataAdded">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="form-control">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="form-control" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" class="btn btn-success" value="Sign In">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <label for="name" class="label">Name</label>
            <input id="user" type="text" class="form-control" name="name" required  [(ngModel)]="book.name">
          </div>
          <div class="group">
            <label for="mailid" class="label">Mail ID</label>
            <input id="pass" type="text" class="form-control"  name="mailid" required  [(ngModel)]="book.mailid">
          </div>
          <div class="group">
            <label for="password" class="label">New Password</label>
            <input [type]="show ? 'text' : 'password'" id="pass"  class="form-control" name="password" required [(ngModel)]="book.password">
          </div>
          <div class="group">
            <label for="reEnteredPassword" class="label">Re enter password</label>
            <input [type]="show ? 'text' : 'password'" id="pass" class="form-control" name="reEnteredPassword" [(ngModel)]="book.reEnteredPassword">
           
          </div>
          <div class="group">
            <button (click)="addBook()" type="submit" class="btn btn-success" value="Sign Up">Sign Up</button>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
        </div>
      </div>
    </div>
  </div>
</div>